@font-face {
    font-family: 'ScalySans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/ScalySans.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'ScalySansSmallCaps';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/ScalySansSmallCaps.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'MrEavesRemake';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/MrEavesRemake.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'BookInstanity';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://homebrewery.naturalcrit.com/fonts/5e/Bookinsanity.woff2') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html[class*="docs-doc-id-Games/DnD/"] {
    --_phb-font-body: 'BookInstanity';
    --_phb-font-header: 'MrEavesRemake';

    /* override default theme vars*/
    --ifm-leading: 0.375em;
    --ifm-link-color: #363980;

    --_phb-tr-odd: var(--phb-tr-odd, #D9E0D6);
    --_phb-tr-even: var(--phb-tr-even, #E8EDE1);
    --_phb-odd-gradient: var(--phb-odd-gradient, linear-gradient(to right, transparent, var(--_phb-tr-odd) 2%, var(--_phb-tr-odd) 98%, transparent));
    --_phb-even-gradient: var(--phb-even-gradient, linear-gradient(to right, transparent, var(--_phb-tr-even) 2%, var(--_phb-tr-even) 98%, transparent));

    & article {
        font-family: var(--_phb-font-body);
        line-height: 1.25em;
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        /*font-variant: small-caps;*/
        font-family: var(--_phb-font-header);
        font-weight: bold;
        color: var(--HB_Color_HeaderText);
    }

    & h3,
    & h4,
    & h5,
    & h6 {
        line-height: 1;
        margin-top: 0.375em;
        margin-bottom: 0.235em;
    }

    & h4 {
        font-size: var(--ifm-h3-font-size);
        font-weight: normal;
    }

    & h5 {
        font-size: var(--ifm-h4-font-size);
    }

    & code {
        padding: 2px 4px 0px 4px;
        font-size: .425cm;
        /*color: #58180D;*/
        /*background-color: #FAF7EA;*/
        border-radius: 4px;
        font-family: 'Courier New', 'Courier', monospace;
        overflow-wrap: break-word;
        white-space: pre-wrap;
    }

    & table tbody tr:nth-child(odd) {
        background-color: transparent;
        background-image: var(--_phb-odd-gradient);
    }

    & table tbody tr:nth-child(even) {
        background-color: transparent;
        background-image: var(--_phb-even-gradient);
    }


    /*
    &[data-theme='dark'] table tbody tr:nth-child(odd) {
        background-color: var(--php-tr-odd);
        background-image: var(--phb-odd-gradient);
    }

    &[data-theme='dark'] table tbody tr:nth-child(even) {
        background-color: var(--php-tr-even);
    }
        */

    & table tbody tr {
        border-top: none !important;
    }

    & table td {
        border: none !important;
    }

    & table {
        font-family: 'ScalySans';
    }

    & .table-of-contents__link--active {
        color: var(--ifm-color-primary) !important;
    }

    & .table-of-contents>li {
        font-family: var(--_phb-font-header);
        /*font-variant: small-caps;*/
        font-size: 1.15em;

        &>a {
            border-bottom: 2px solid rgb(201, 173, 106);
            font-size: 1.15em;
            color: var(--ifm-heading-color);
            display: block;
            width: 100%;
        }

        &>a:hover {
            color: var(--ifm-color-primary);
        }

        &>ul {
            /*font-family: ScalySans;*/
            font-family: var(--_phb-font-header);
            font-variant: normal;

            &>li {
                overflow: hidden;

                &>a {
                    font-family: var(--_phb-font-body);
                    position: relative;
                    display: inline;

                    &::after {
                        content: " .....................................................................................................................................................";
                        position: absolute;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }
            }
        }
    }

    /* Ribbon Admonitions */
    & [data-theme='light'] .theme-admonition {
        border-top: 2px var(--HB_Color_HeaderText) solid;
        border-bottom: 2px var(--HB_Color_HeaderText) solid;
    }

    & .theme-admonition {
        --dnd-triangle-size: 1em;
        --dnd-triangle-offset: 0.5em;

        /*background-image: none !important;
        /* Override paper background from global admonition.css */
        border: none;
        border-top: 2px solid;
        border-bottom: 2px solid;
        border-radius: 0;
        box-shadow: 0.0em 0.25em 1.25em -0.5em rgba(0, 0, 0, 0.5);
        transition: box-shadow 0.4s ease-in-out;
        padding: 0.5rem 1rem;
        margin-top: 0.75rem;
        margin-bottom: 1.5rem;
        font-family: 'ScalySans';

        & [data-theme='dark']>div:first-child {
            color: var(--ifm-tabs-color-active-border);
        }

        &>div:first-child {
            /* Heading/Header */
            font-family: 'ScalySansSmallCaps';
            text-transform: none;
            letter-spacing: -0.02em;
            font-weight: bold;
            font-size: 1.10em;
            color: var(--ifm-heading-color);
            /* Increased to make lowercase/small-caps part feel bigger */
            display: flex;
            align-items: center;

            & span {
                margin-right: 0 !important;
            }

            & svg {
                display: none;
                /* Hide default icons to match minimalist style */
            }
        }

        &>div:last-child {
            /* Content */
            letter-spacing: -0.01em;
        }

        /* Left Triangles (Top and Bottom) */
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: calc(-1 * var(--dnd-triangle-offset)) !important;
            bottom: calc(-1 * var(--dnd-triangle-offset)) !important;
            width: var(--dnd-triangle-offset) !important;
            height: auto;
            background-color: var(--ifm-alert-foreground-color);
            z-index: -1;
            clip-path: polygon(var(--dnd-triangle-offset) 0,
                    100% var(--dnd-triangle-offset),
                    100% 100%,
                    0 calc(100% - var(--dnd-triangle-offset)),
                    0 var(--dnd-triangle-offset));
        }

        /* Right Triangles (Top and Bottom)  */
        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: calc(-1 * var(--dnd-triangle-offset)) !important;
            bottom: calc(-1 * var(--dnd-triangle-offset)) !important;
            width: var(--dnd-triangle-offset) !important;
            height: auto;
            background-color: var(--ifm-alert-foreground-color);
            z-index: -1;
            clip-path: polygon(0 0,
                    100% var(--dnd-triangle-offset),
                    100% calc(100% - var(--dnd-triangle-offset)),
                    0 100%);
        }

        &:hover {
            box-shadow: 0.0em 0.5em 1.25em -0.5em rgba(0, 0, 0, 0.5);
            transition: box-shadow 0.2s ease-in-out;
        }

        /* Override hover shadow from admonition.css */
    }

    & .card {
        position: relative;
        isolation: isolate;

        border: none;
        border-radius: 0;
        box-shadow: none;
        background: transparent;
        padding: 1rem;
        z-index: 1;
        margin: 0em;

        &::before {
            content: "";
            position: absolute;
            /* 'inset: 0' es el atajo moderno para top, left, right, bottom: 0 */
            inset: 1.0em;
            border-radius: 0.5em;

            /* Movemos el diseño del borde aquí */
            border: solid 2px var(--ifm-color-emphasis-300);
            background-color: var(--ifm-background-surface-color);

            /*filter: url(#wavy1) drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.4));*/
            filter: url(#wavy1) drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.5));
            /*
            filter: url(#wavy1) drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.4));
            */
            /*box-shadow: 0 0 10px #aa6d2f inset;*/
            z-index: -10;
            pointer-events: none;
            /* A light paper color */
        }

        /*
        & .card__body {
            z-index: 1;
            background-color: blue;
            filter: none;
        }
        */
        /*
        & a {
            color: inherit;
            background-color: blue;
            text-decoration: none;
            z-index: 2;
        }
        */
    }

}

html[class*="docs-doc-id-Games/DnD/"][data-theme='dark'] {
    --phb-tr-odd: rgb(64, 69, 33);
    --phb-tr-even: rgb(54, 59, 23);
    --ifm-link-color: #C6C9E0;
    /* No hace falta redefinir los gradientes porque ya usan las variables arriba */
}