/*
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */


/* You can override the default Infima variables here. */
/* Autumn Yellow HEX #E99700 / RGB (233, 151, 0)  */
/* https://docusaurus.io/docs/styling-layout */
/* Infima variables https://github.com/facebook/docusaurus/issues/3955 */
:root {
  --ifm-color-primary: #e99700;
  --ifm-color-primary-dark: #d28800;
  --ifm-color-primary-darker: #c68000;
  --ifm-color-primary-darkest: #a36a00;
  --ifm-color-primary-light: #ffa601;
  --ifm-color-primary-lighter: #ffaa0d;
  --ifm-color-primary-lightest: #ffb630;
  --ifm-code-font-size: 90%;
  --ifm-font-family-base: "Roboto";
  --ifm-font-family-monospace: "Roboto Mono";
  --ifm-font-weight-monospace: 300;
  --ifm-font-size-base: 110%;
  --ifm-font-weight-bold: 700;
  --ifm-table-cell-padding: 0.25rem;
  --ifm-heading-margin-bottom: 0.25rem;
  --docusaurus-highlighted-code-line-bg: #efefef;
  /* Handbook variables */
  --HB_Color_Background: #EEE5CE;
  --HB_Color_Accent: #E0E5C1;
  --HB_Color_HeaderUnderline: #C0AD6A;
  --HB_Color_HorizontalRule: #9C2B1B;
  --HB_Color_HeaderText: #58180D;
  --HB_Color_MonsterStatBackground: #F2E5B5;
  --HB_Color_CaptionText: #766649;
  --HB_Color_WatercolorStain: #BBAD82;
  --HB_Color_Footnotes: #C9AD6A;
  --TOC: 'include';

  --ifm-heading-color-light: #58180D;
  --ifm-heading-color-dark: #c68000;

}

html[data-theme='light'] :root {
  --ifm-font-color-base: #2a2010;
  --ifm-heading-color: var(--ifm-heading-color-light);
}

html[data-theme='dark'] :root {
  --ifm-font-color-base: #d4c4a8;
  --ifm-heading-color: var(--ifm-heading-color-dark);
}

[data-theme='dark'] {
  --docusaurus-highlighted-code-line-bg: #3a3a3a;
}

/*
 * https://developers.google.com/fonts/docs/css2
 * Samples:
 *   @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
 *   @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
 *   @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
 *
 */

/* latin Roboto + Roboto Mono: */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  /*src: url('./fonts/Roboto-Mono-300.woff2') format('woff2');
   */
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_gPq_ROW4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html,
body {
  min-height: 100vh;
  background-color: #fffaeb;
  background-image: -webkit-linear-gradient(180deg, rgba(250, 229, 182, 1) 0%, rgba(255, 250, 235, 1) 1%, rgba(255, 250, 235, 1) 99%, rgba(255, 215, 140, 1) 100%);
  background-image: linear-gradient(-90deg, rgba(250, 229, 182, 1) 0%, rgba(255, 250, 235, 1) 1%, rgba(255, 250, 235, 1) 99%, rgba(255, 215, 140, 1) 100%);
}

html[data-theme='dark'],
html[data-theme='dark'] body {
  background-color: #170f00;
  background-image: -webkit-linear-gradient(180deg, rgba(163, 106, 0, 1) 0%, rgba(23, 15, 0, 1) 1%, rgba(23, 15, 0, 1) 99%, rgba(163, 106, 0, 1) 100%);
  background-image: linear-gradient(-90deg, rgba(163, 106, 0, 1) 0%, rgba(23, 15, 0, 1) 1%, rgba(23, 15, 0, 1) 99%, rgba(163, 106, 0, 1) 100%);
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

html[data-theme='dark'] .header-github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

.footer--dark {
  --ifm-footer-background-color: #1b2127;
}

.hero .hero__title {
  text-shadow: 1px 3px 0 #c68000, -1px -3px 0 #ffb630, 1px 13px 15px #a36a00;
}

.hero .hero__subtitle {
  text-shadow: 1px 2px 0 #c68000, -1px -1px 0 #ffb630, 1px 3px 7px #a36a00;
}

.hero .button--lg {
  box-shadow: 1px 3px 0 #c68000, -1px -1px 0 #ffaa0d, 1px 5px 7px #a36a00;
}

.hero .button--lg {
  background-color: #c68000;
  border-color: #ffc740;
}

/* Estilos para encabezados en tema claro (por defecto) */
html[data-theme='light'] .markdown h1,
html[data-theme='light'] h2,
h2:after,
html[data-theme='light'] h3,
h3:after,
html[data-theme='light'] h4,
html[data-theme='light'] h5,
html[data-theme='light'] h6,
html[data-theme='light'] th {
  color: var(--ifm-heading-color-light);
}

/* Estilos para encabezados en tema oscuro */
html[data-theme='dark'] .markdown h1,
html[data-theme='dark'] h2,
h2::after,
html[data-theme='dark'] h3,
h3::after,
html[data-theme='dark'] h4,
html[data-theme='dark'] h5,
html[data-theme='dark'] h6,
html[data-theme='dark'] th {
  color: var(--ifm-heading-color-dark);
}

/* Color del subrayado para h2 en tema oscuro */
html[data-theme='dark'] h2 {
  border-bottom: 2px solid rgb(134, 115, 71);
}

/* Estilo para h2 con subrayado de ancho completo */
html h2 {
  border-bottom: 2px solid rgb(201, 173, 106);
  /* Subrayado dorado */
}

/* Estilo para h3: subrayado que se extiende */
.divider-h3 h3 {
  position: relative;
  /* Necesario para posicionar el pseudoelemento */
  display: inline-block;
  /* Permite que el pseudoelemento ocupe el ancho del contenido */
  padding-bottom: 0px;
  /* Espacio entre el texto y la línea */
}

/* Color del subrayado para h3 en tema oscuro */
.divider-h3[data-theme='dark'] h3::after {
  background-color: #c68000;
  color: #c68000;
}

/* Estilo para h2 con subrayado de ancho completo */
.divider-h3 h3 {
  border-top: 1px solid;
  /* Subrayado marrón */
  padding-top: 0.5rem;
  /* Espacio entre el texto y el subrayado */
  display: block;
  /* Asegura que ocupe todo el ancho disponible */
  width: 100%;
  /* Asegura que ocupe el 100% del ancho del padre */
  box-sizing: border-box;
  /* Incluye padding y border en el width */
}

/* Aplicar el SVG */
.markdown hr {
  background-image: url('/img/divider-02.svg');
}

.markdown hr {
  height: 20px;
  /* La altura de tu SVG. Ajusta según el 'height' de tu viewBox */
  background-repeat: no-repeat;
  background-position: left top;
  /* Ajuste si la imagen no cubre todo el alto */
  background-size: 100% auto;
  margin: 0.33rem 0;
  /* Espacio para el HR, ajusta según sea necesario */
  background-color: transparent;
  /* docusaurus sobreescribe transparencias en algunos elementos */
}

@import './table.css';
@import './admonition.css';
@import './custom-dnd.css';


.markdown h2 {
  margin-top: calc(var(--ifm-h2-vertical-rhythm-top) * var(--ifm-leading) / 3.0);
}

.markdown h3 {
  margin-top: calc(var(--ifm-h3-vertical-rhythm-top) * var(--ifm-leading) / 3.0);
}

.markdown h4 {
  margin-top: calc(var(--ifm-h3-vertical-rhythm-top) * var(--ifm-leading) / 3.0);
}


[data-theme='light'] .navbar {
  background: linear-gradient(-90deg, rgba(252, 239, 212, 1) 0%, var(--ifm-navbar-background-color) 1%, var(--ifm-navbar-background-color) 99%, rgba(252, 239, 212, 1) 100%);
}

[data-theme='dark'] .navbar {
  background: linear-gradient(-90deg, rgba(83, 56, 0, 1) 0%, var(--ifm-navbar-background-color) 1%, var(--ifm-navbar-background-color) 99%, rgba(83, 56, 0, 1) 100%);
}

.footer {
  background: linear-gradient(0deg, var(--ifm-footer-background-color) 0%, var(--ifm-footer-background-color) 90%, #404040 100%);
}

/* Import pagination styles */
@import './pagination.css';

/*
 * SVG Filter Usage Example:
 * To apply the paper texture filter to an element, use:
 * filter: url(#paper-texture);
 *
 * Example for all markdown pages:
 * .markdown {
 *   filter: url(#paper-texture);
 * }
 */