.pagination-nav[data-theme='dark'] {
    background: var(--docusaurus-highlighted-code-line-bg);
}

.pagination-nav__link {
    background: var(--ifm-card-background-color);
    box-shadow: 0 2px 14px rgba(163, 106, 0, .4);
    transition: box-shadow .2s ease-in-out;
    border: 0px solid var(--ifm-color-emphasis-300);
}

.pagination-nav__link:hover {
    box-shadow: 0 5px 14px rgba(163, 106, 0, .7);
}

.pagination-nav__link--prev {
    text-align: right;
}

.pagination-nav__link--next {
    text-align: left;
}

.pagination-nav {
    margin: 1em;
    position: relative;
}