table:before {
    content: "";
    position: absolute;
    inset: -1em;
    border-radius: 0.5em;
    filter: url(#wavy1) drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.5));
    box-shadow: 0 0 30px var(--_inset-shadow) inset;
    z-index: -1;
}

table {
    --_inset-shadow: var(--inset-shadow, #aa6d2f);
    --_border-head: var(--ifm-color-danger-contrast-foreground);
    --_shadow: var(--shadow, #aa6d2f);
    --_tr-hover: var(--ifm-color-emphasis-300);
    border: none !important;
    border-radius: 0 !important;
    display: table !important;
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
}

table th {
    padding-right: 15px;
    padding-left: 15px;
    border-top: 2px solid var(--_border-head);
    border-bottom: 2px solid var(--_border-head);
    border-left: none;
    border-right: none;
}

table td {
    padding-right: 15px;
    padding-left: 15px;
    border-left: none;
    border-right: none;
}

table tr:last-child td {
    border-bottom: none;
}

table tr:first-child td {
    border-top: none;
}

table tbody tr:hover {
    background-color: var(--_tr-hover);
    cursor: pointer;
}