.shadow table:before {
    content: "";
    position: absolute;
    inset: -1em;
    border-radius: 0.5em;
    filter: url(#wavy1) drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.5));
    box-shadow: 0 0 15px var(--_inset-shadow) inset;
    z-index: -10;
}

table {
    --_inset-shadow: var(--inset-shadow, #aa6d2f);
    --_border-head: var(--ifm-color-danger-contrast-foreground);
    --_shadow: var(--shadow, #aa6d2f);
    --_tr-hover: var(--ifm-color-emphasis-300);
    --_tr-dnd: rgb(224, 229, 193);
    --_tr-dnd-dark: rgb(204, 209, 173);
    --_tr-dnd-darker: rgb(144, 149, 113);
    --_tr-dnd-darkest: rgb(54, 59, 23);
    --_tr-dnd-light: rgb(234, 239, 213);
    --_tr-dnd-lighter: rgb(244, 249, 233);
    --_tr-dnd-lightest: rgb(254, 255, 253);
    border: none;
    border-radius: 0;
    display: table;
    position: relative;

    font-family: 'Roboto';
    font-weight: 300;

    /*
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
    */
}

table strong,
table b {
    font-weight: 450;
}

table th {
    padding-right: 0.5em;
    padding-left: 0.5em;
    /*
    border-top: 2px solid var(--_border-head);
    */
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

table thead,
table th {
    background-color: transparent;
}

table td {
    padding-right: 0.5em;
    padding-left: 0.5em;
    border-left: none;
    border-right: none;
}

table tr:last-child td {
    border-bottom: none;
}

table tr:first-child td {
    border-top: none;
}

table tr {
    border-top: none;
    border-bottom: none;
}

table tbody tr:nth-child(odd) {
    background-color: var(--bg-table-row-odd);
}

table tbody tr:nth-child(even) {
    background-color: var(--bg-table-row-even);
}